<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ url_for('static', filename='assets/css/bootstrap.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='assets/css/example-fluid-layout.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='assets/css/bootstrap-responsive.css') }}" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
  <!--   <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://echarts.baidu.com/dist/echarts.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='shield.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='shield.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
     <script src="http://echarts.baidu.com/dist/echarts.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='shield.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='shield.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
            {% include "left_navbar.html" %}
        </div><!--/span-->
        <div class="span9">
        <h1>DCOS集群信息</h1>
        <br>
          <div class="row-fluid">
              <ul id="myTab" class="nav nav-tabs">
                  <li class="active"><a href="#mesos" data-toggle="tab">MESOS集群</a></li>
                  <li><a href="#marathon"" data-toggle="tab">MARATHON集群</a></li>
                  <li><a href="#zookeeper" data-toggle="tab">ZOOKEEPER集群</a></li>
              </ul>
          </div>
          <div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="mesos">
  <table class="table">
   <thead>
      <tr>
         <th>服务</th>
         <th>IP</th>
         <th>是否为Leader</th>
         <th>是否健康</th>
      </tr>
   </thead>
   <tbody>
   {% for item in mesos %}
      <tr>
         <td>{{item.0}}</td>
         <td><a href={{item.1}}>{{item.1}}</a></td>
         <td>{{item.2}}</td>
         {%if not item.3%}
         <td>Unhealthy</td>
         {%else%}
         <td>Healthy</td>
         {%endif%}
      </tr>
      {%endfor%}
   </tbody>
</table>


  </div>
  <div class="tab-pane fade" id="marathon">
    <p>marathon。</p>
  </div>
  <div class="tab-pane fade" id="zookeeper">
    <p>jMeter </p>
  <table class="table">
  <caption>基本的表格布局</caption>
   <thead>
      <tr>
         <th>名称</th>
         <th>城市</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>Tanmay</td>
         <td>Bangalore</td>
      </tr>
      <tr>
         <td>Sachin</td>
         <td>Mumbai</td>
      </tr>
   </tbody>
</table>
  
  </div>
</div>
          <hr>
     <footer>
        <p>&copy; Company DNT</p>
      </footer>

    </div><!--/.fluid-container-->
    <div>


</div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='assets/js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap-transition.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap-alert.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap-modal.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap-dropdown.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap-scrollspy.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap-tab.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap-tooltip.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap-popover.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap-button.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap-collapse.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap-typeahead.js') }}"></script>
      </div>
    </div>
  </body>
</html>