<div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">告警</li>
              <li><a href="/">告警历史信息统计</a></li>
              <li><a href="hello1">hello1</a></li>
              <li><a href="hello2">DCOS环境信息</a></li>
              <li><a href="#">JavaScript</a></li>
			  <li><a href="#">Twitter Bootstrap</a></li>
			  <li><a href="#">Firebug</a></li>
              <li class="nav-header">Backend</li>
              <li><a href="#">PHP</a></li>
              <li><a href="#">SQL</a></li>
              <li><a href="#">MySQL</a></li>
              <li><a href="#">PostgreSQL</a></li>
              <li><a href="#">MongoDB</a></li>
           </ul>
</div><!--/.well -->